


.post{
    overflow: auto;
}
.user img{
    border-radius: 50%;
    height:40px;
    width:40px;
}
#content a{
    text-decoration: none;
    color: black;
}

.userinfo{
    font-size: 0.8rem;
    line-height: 1rem ;
}

#postimage{
    width: 50%;
}
select{
    width:100%;
    border: none;
    height:50px;
}
#content div{
    margin:20px;
}
@media(max-width:576px){
    #postimage{
        width: 40%;
    }
}
